
ul.posts {
    padding-left: 2px;
}

.profile-thumbnail{
    width: fit-content;
    float: left;
}

.post-details{
    display: inline-block;
    margin-left: 10px;
    width: 95%;
}

.post-details .post-date{
    float: right;
}

.posts .post {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee ;
}