
ul.posts, ul.comments {
    padding-left: 2px;
}

.profile-thumbnail{
    width: fit-content;
    float: left;
}

.post-details, .comment-details{
    display: inline-block;
    margin-left: 10px;
    width: 95%;
}

.post-details .post-date,
.comment-details .comment-date {
    float: right;
}

.posts .post, .comments .comment {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee ;
}

ul.comments{
    margin-top: 30px;
    margin-left: 30px;
}