{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %}Flasky - Post{% endblock %}


{% block page_content %}
    {% include '_posts.html' %}

<h4 id="comments"> Comments </h4>.
<div class="comments-div" >
    {% if current_user.can(Permission.WRITE) %}
    {{ wtf.quick_form(form) }}
    {% endif %}

    <ul class="comments ">
        {% for comment in comments %}
        <li class="comment list-unstyled">
            <div class="profile-thumbnail">
                <a href="{{ url_for('.user', username=comment.author.username) }}">
                    <img class="img-rounded profile-thumbnail" src="{{ comment.author.gravatar(size=40) }}">
                </a>
            </div>
            <div class="comment-details"> 
                <div class="comment-date">{{ moment(comment.timestamp).fromNow() }} </div>
    
                <div class="comment-author">
                    <a href="{{ url_for('.user', username=comment.author.username) }}">
                        {{ comment.author.username }}
                    </a>
                </div>
    
                <div class="comment-body">
                    {% if comment.body_html %}
                        {{ comment.body_html | safe }}
                    {% else %}
                        {{ comment.body }}
                    {% endif %}
                </div>
    
    
            </div>
            
        </li>
        {% endfor %}
    </ul>
    
</div>
{% endblock %}

